body{
    background-color:#fff;
    color:#555;    
}

#container {
    /*border:1px solid #EA7500;*/
}

#pageHeader {
   /* border:1px solid #EA7500;*/
   background-color:#eee;
}
#pageHeader:hover {
    background-color:#ccc;
}

#pageFooter {
    /*border:1px solid #EA7500;*/
}

div.left-side-bar {
   /* border:1px solid #EA7500;*/
}

div.left-side-bar div.box {
    border:1px solid #EA7500;   
}

div.box-title {
    background-color:#E1AE2C;
    border-bottom:1px dashed #EA7500;
    color:#eee;
    font-weight:bold;
}

div.main {
    border:1px solid #EA7500;
}

#greetingBox {
    background-color:#E1AE2C;
}