body {
    margin:2px 0 5px 0;
    padding:0;
    font-size:11pt;
}

li {
    list-style:none;
}

div.left-side-bar, div.main {
    float:left;
}

.clr {
    clear:both;
}

#container {   
    width:950px;
    margin:0 auto;
}

#pageHeader {
   /* height:100px;*/
    margin-bottom:5px;
}

#pageFooter {
    /*height:30px;
    margin-top:5px;*/
    margin-bottom:10px;
}

div.left-side-bar {
    width:248px;    
}

div.left-side-bar div.box {
    margin-bottom:5px;   
}
div.box-title {
    padding:10px;
}
div.box-cont {
    padding:10px;
}

div.main {
    width:693px;   
    margin-left:5px;
    margin-bottom:5px;
}

#greetingBox {
    padding:10px;
    text-align:center;
}

span.box-title {
    background-color:#00f;
}